<h1>Listing patients</h1>

<table id="patients-table" class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	<tbody></tbody>
</table>

<br/>

<a href="#/new">New Patient</a>