<h1><%= name %></h1>
<p id="draggable-markers-container" class="lead">
	Drag and drop 
	<span class="label label-default" category="Event">Event</span>
	<span class="label label-default" category="Intervention">Intervention</span>
	<span class="label label-default" category="Comment">Comment</span>
</p>


<div class="parameters-container">
	<div class="row">
		<div class="col-xs-1"><div class="y-axis-container"></div></div>
		<div class="col-xs-7"><div class="chart-container" style="overflow:scroll"></div></div>
		<div class="col-xs-4">
			<div class="detail-container">
			</div>
		</div>
	</div>
	
</div>

<a href="#/index">Back</a>