<div id="patients"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Trendline.Routers.PatientsRouter({patients: <%= @patients.collect {|e| {id: e.to_param, name: e.name, uid: e.uid }}.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
