<div class="row">
    <div class="col-xs-12">
        <div class="recording-status"></div>
        <div>
            <a href="#" class="btn btn-default toggle-recording">Record On/Off</a>
        </div>
        
        <div class="chart-container"></div>
        
        <img id="hammer" class="img-responsive" src="http://ecx.images-amazon.com/images/I/71vjGmpUtzL._SL1500_.jpg"  />        
    </div>
</div>
